body{
  background-color: #661d1d
}
.darkBlue{
  background-color: #0b1c48
}

.orange{
  background-color: #e66912
}

.desertSun{
  background-color: #c68b5e
}

.burntScienna{
  background-color: #ad7850
}

.teal{
  background-color: #016367
}

.headerColor{
  background-color: #ba7e0f
}

.textMainColor{
  background-color: #302f6e
}

.element{
  background-color: #a16e48;
  width: 100%;
  text-align: center;
  border: 5px solid #ba7e0f;
  border-radius: 4px;
  padding: 10px;
  margin: auto;
}

.layout{
  background-color: #a16e48;
  width: 100%;
  border: 5px solid #ba7e0f;
  border-radius: 4px;
  padding: 10px;
  margin: auto;
}

.element img {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.fluid_container{
  margin: auto;
  padding: 30px;
}

.fluid_container_header{
  margin: auto;
  padding: 5px;
}

.button{
  margin: auto;
  padding: 15px;
}
